= form_with(model: blog.comments.new) do |f|
  = f.hidden_field :blog_id
  = f.text_area :content, class: 'form-control'
  = f.button type: 'submit', class: 'form-control btn btn-primary' do
    コメントする
    %i.far.fa-comment-dots
